.amenities {
   // background-image: url("../img/ami.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   width: 100%;
   // height: 480px;
   // position: relative;
   margin: 50px 0 ;
   background: #3f9cc1;
color: #fff;   
padding-top: 50px;

 }
 .amenities__text {
   // background: #3f9cc1;
   padding: 50px;
   // width: 80%;
   // height: 600px;
   // position: absolute;
   // top: -13%;
   // right: 10%;
   // padding-top: 10%;
   // color: #000;
   display: flex;
   justify-content: center;
 }
 
//  .amenities__content {
//    display: grid;
//    grid-template-columns: repeat(2, 1fr);
//    grid-row-gap: 30px;
//  }
 .amenities__item {
   flex: 0 1 50%;
   // border: 1px solid black;
   padding: 50px 100px;


  
 }
 .amenities__text h3 {
   font-weight: 500;
   margin-bottom: 10px;
 }
 
 .amenities__text p {
   margin-bottom: 20px;
   padding-left: 20px;

   line-height: 30px;
 }
 
 .amenities__content i {
   margin: 5px 20px 0 0;
 }

 .amenities__body {
   // display: flex;
 }