.contact {
   padding: 30px 0 80px 0;
}

.contact__row {
   display: flex;
   align-items: center;

   
}

.contact__map {
   flex:0 0 50%;
   box-shadow: 0 13px 43px 0 rgba(37, 46, 89, 0.1);
}

.contact__body {
   flex:0 0 50%;
   
}

.contact__form {
   background: #3f9cc1;
   margin: 0 10%;
   padding: 50px 80px;
   color: #fff;
   box-shadow: 0 13px 43px 0 rgba(37, 46, 89, 0.1);
}

.contact__body h3 {
   font-size: 24px;
   text-align: center;
   margin-bottom: 30px;
   font-weight: 600;
}

.contact__body li {
   font-size: 18px;
   margin-bottom: 20px;
   padding: 20px 0 0 20px;
   border-top: 1px solid #fff;

}

.contact__body li a {
   display: flex;
   align-items: center;
   color: #fff;
   margin-left: 10px;
}

.contact__body li a span {
   display: block;
   margin-left: 10px;
}

.contact__body li a i {
   font-size: 25px;
}
