.header {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   z-index: 1;
 }

.header__body {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.header__contact, .header__adress{
   font-size: 1.3rem;
   font-weight: 600;
   color: white;
}

.header__adress {
   font-weight: 500;
}

.header__contact li {
   margin: 10px 0;
}
.header__contact a {
   color: white;
}

 .header__menu {
   display: flex;
   justify-content:flex-end;
   padding: 20px;
 }

 .menu__list {
   display: flex;
   justify-content: space-between;
   align-items: center;
 }

 .menu__item {
   margin-left: 4rem;
 }

 .menu__link {
   font-size: 1.5rem;
   font-weight: 600;
   color: white;
   transition: 0.3s;
 }

 .menu__link:hover {
   color: #C1B086;
 }


//Burger========================================================

.menu-burger {
   display: none;
}

.bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.3s ease-in-out;
   background-color: #fff;
}

   
   
   @media (max-width: 1000px) {
      .menu__link {
      font-size: 1.15rem;
      }
   }

   @media (max-width: $md3) {
      .menu__list {
         display: block;
         position: fixed;
         left: -100%;
         top: 5rem;
         flex-direction: column;
         background-color: #fff;
         width: 100%;
         border-radius: 10px;
         text-align: center;
         transition: 0.5s;
         box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
         z-index: 20;
       }
     
       .menu__list._active {
         left: 0%;
       }
     
       .menu__item {
         margin: 2.5rem 0;
       }
     
       .menu__link {
         color: black;
       }
     
       .menu-burger {
         display: block;
         cursor: pointer;
       }
     
       .menu-burger._active .bar:nth-child(2) {
         opacity: 0;
       }
     
       .menu-burger._active .bar:nth-child(1) {
         transform: translateY(8px) rotate(45deg);
       }
     
       .menu-burger._active .bar:nth-child(3) {
         transform: translateY(-8px) rotate(-45deg);
       }
   }


